
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
input[type=text], input[type=password],input[type=number],input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formWrap {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.wrap{
  max-width:700px;
  margin: auto;
}

header{
  background:#2A2829
}

.text-md{
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.03em;
  text-transform: none;
  line-height: 1.8em;
  text-decoration: none;
  font-size: 24px;
}
.row{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.col-2{
  max-width: 20%;
}

.col-10{
  max-width: 80%;
}
form{
  margin: auto;
  background: #2A2829;
  padding: 10px 19px;
  color:white
}

.error{
  color:red;
}